:root {
    --navbar-height: 100px;
    --footer-height: 60px;
}

* {
    /* idk we may not want this to be global, but nothing is fking up for now */
    box-sizing: border-box; 
}


p {
    margin: 0;
}

#appContainer { /* Reminder to come back to this later, to stop bg image from repeating
                    when body text grows too long*/
    box-sizing: border-box;
    background: red;
    background-image: url("./images/background-pexels-photo-961402.jpeg");
    background-size:cover;
    min-height: 100vh;
}

#bodyContainer {
    box-sizing: border-box;
    border: 2px solid black;
    background: var(--bs-gray-100);
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

#navbar {
    /* background-color: orange; */
    background: pink;
    min-height: var(--navbar-height);
}

#footer {
    color: white;
    background: black;
    min-height: var(--footer-height);
}