:root {
  --navbar-height: 64px; /* this is the lowest it can go */
  --footer-height: 40px;
}
/*
* {
    /* idk we may not want this to be global, but nothing is fking up for now 
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box; 
}
*/

p {
  margin: 0;
}

#appContainer {
  /* Reminder to come back to this later, to stop bg image from repeating
                    when body text grows too long*/
  box-sizing: border-box;
  background: white;
  background-image: url("./images/background-pexels-photo-961402.jpeg");
  background-size: cover;
  min-height: 100vh;
  /* max-width: 1000px; */
  margin: auto;
}

#bodyContainer {
  box-sizing: border-box;
  background: white;
  margin: auto;
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

#navbar {
  /* background-color: orange; */
  background: white;
  min-height: var(--navbar-height);
}

#footer {
  color: white;
  background: black;
  min-height: var(--footer-height);
}

.bodyTextColumn {
  /* for a more centre "column"-y main body text style */
  max-width: 768px;
  margin: auto;
}

.noUnderline {
  /* for removing underline from links */
  text-decoration: none;
}

.menuItemStyle {
  color: black;
}

.top-right-button {
  position: absolute;
  top: 110px;
  right: 50px;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 10px;
}

.font {
  font-family:'Poppins', sans-serif;
  color: #49516F;
}

.fontextra {
  font-family:'Poppins', sans-serif;
  color: #b0b0b3;
}

.titleFont {
  font-family:'Poppins', sans-serif;
  font-weight: 900;
  color: #49516F;
}
/* anything smaller than 768, the body text expands to fill the screen */