:root {
  --navbar-height: 64px; /* this is the lowest it can go */
  --footer-height: 40px;
}
/*
* {
    /* idk we may not want this to be global, but nothing is fking up for now 
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box; 
}
*/

p {
  margin: 0;
}

#appContainer {
  /* Reminder to come back to this later, to stop bg image from repeating
                    when body text grows too long*/
  box-sizing: border-box;
  background: white;
  /* background-image: url("./images/background-pexels-photo-961402.jpeg"); */
  /* background-size: cover; */
  /* min-height: 100vh; */
  /* max-width: 1000px; */
  margin: auto;
}

#bodyContainer {
  box-sizing: border-box;
  border: 2px solid black;
  background: white;  
  margin: auto;
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height)); 
  
}

#navbar {
  /* background-color: orange; */
  background: white;
  min-height: var(--navbar-height);
}

#footer {
  color: white;
  background: black;
  min-height: var(--footer-height);
}

.bodyTextColumn {
  /* for a more centre "column"-y main body text style */
  /* max-width: 768px; */
  margin: auto;
}

.noUnderline {
  /* for removing underline from links */
  text-decoration: none;
}

.menuItemStyle {
  color: black;
}

.top-right-button {
  position: absolute;
  top: 110px;
  right: 50px;
}

/* anything smaller than 768, the body text expands to fill the screen */

/* for screens with width 768 - 1366 */
@media screen and (min-width: 768px) {
  .bodyTextColumn {
    max-width: 768px;
  }
}

/* for screens with width 1366 to 1920 */
@media screen and (min-width: 1366px) {
  .bodyTextColumn {
    max-width: 1080px;
  }
}

@media screen and (min-width: 1920px) {
  .bodyTextColumn {
    max-width: 1366px;
  }
}